
.About{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    color: aliceblue;
    background-color: #8ECAE6;
}

.About>div>h1{
    font-size: 5rem;
}
.About>div>h2{
    font-size: 3rem;
}
.About>div{
padding: 0rem;
margin-top: 5rem;
margin-bottom: 5rem;
margin-left: 2rem;
margin-right: 2rem;


}

.Abouttext{
    padding: 0rem;
    margin: 0rem;
    
}


@media(max-width:785px){
    .About{
       display: flex;
       flex-direction: column;
    }
    .About>div>h1{
        font-size: 3rem;
    }
    .About>div>h2{
        font-size: 2.5rem;
    }
    .About>div>p{
        font-size: 1.5rem;
    }
    .About>div{
    padding: 0rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    
    
    }
    
    
}



@media(max-width:550px){
    .About{
       display: flex;
       flex-direction: column;
    }
    .About>div>h1{
        font-size: 2rem;
    }
    .About>div>h2{
        font-size: 1rem;
    }
    .About>div>p{
        font-size: 1rem;
    }
    .About>div{
    padding: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    
    
    }
    
    
}