.ProjectsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    color: aliceblue;
   background-color: #8ECAE6;
}

.ProjectsContainer>h2{
    text-align: center;
    font-size: 5rem;
}
.ProjectItemOne,.ProjectItemTwo,.ProjectItemThree,.ProjectItemFour,.ProjectItemFive,.ProjectItemSix{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 2rem;
margin-bottom: 2rem;
margin-left: 0rem;
margin-right: 0rem;
}

h5{
    font-size: 3rem;
}
p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.projectImg{
width: 50%;
margin: 2rem;
padding: 0rem;
border: 5px solid whitesmoke;
}

        
.btn{
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color:  #023047;
    border-radius: 1rem;
}

.btn:hover{
    background-color: whitesmoke;
    color: black;
}

/*--------------------------------------------------------------------------------------------- Mobile responsiveness ------------------------------------------------------------------------------------------------------------------------*/

@media(max-width:900px){
    .projectImg{
        width: 75%;

        align-items: center;
        margin: 2rem;
        padding: 0rem;
        border: 5px solid whitesmoke;
    }



    .ProjectItemOne,.ProjectItemTwo,.ProjectItemThree,.ProjectItemFour,.ProjectItemFive,.ProjectItemSix{
        display: flex;
        flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 0rem;
        margin-right: 0rem;
        }

        h5{
            font-size: 4rem;
            margin: 0rem;
        }

        p{
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-size: 2rem;
        }

}


@media(max-width:500px){
    .projectImg{
        max-width: 100;
        align-items: center;
        margin: 2rem;
        padding: 0rem;
        border: 5px solid whitesmoke;
    }

}