.ProjectsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    color: aliceblue;
   background-color: #8ECAE6;
}

.ProjectsContainer>h2{
    text-align: center;
    font-size: 5rem;
}
.ProjectItemOne,.ProjectItemTwo,.ProjectItemThree,.ProjectItemFour,.ProjectItemFive,.ProjectItemSix{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 2rem;
margin-bottom: 2rem;
margin-left: 0rem;
margin-right: 0rem;
}

h5{
    font-size: 3rem;
}
p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.projectImg{
width: 50%;
margin: 2rem;
padding: 0rem;
border: 5px solid whitesmoke;
}

        
.btn{
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color:  #023047;
    border-radius: 1rem;
}

.btn:hover{
    background-color: whitesmoke;
    color: black;
}