.SkillsTable{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   color: aliceblue;
}


.Skills{
    background-color: #219EBC;
}

.Skills>h2{
    color: aliceblue;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 0rem;
    text-align: center;
}

.toolUsed{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
}
img{
    width: 25%;
    padding-left: 5rem;
    margin: 0rem;
}

@media(max-width:900px){
  
    .toolUsed{
        display: flex;
        flex-direction: column;
    align-items: center;
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem;
    }
    
    img{
        width: 25%;
        padding-left: 0rem;
        align-items: center;
        margin: 0rem;
    }
    
}

@media(max-width:785px){
    .SkillsTable{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        color: aliceblue;
     }
     
    
}

@media(max-width:450px){

    .SkillsTable{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        color: aliceblue;
     }
     
     .toolUsed{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.6rem;
        padding: 1rem;
        margin: 1rem;
    }
}

